@using Entities.Models
@model UserEditModel
@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Şifre Güncelle</h4>
        <form class="forms-sample" method="post">
            <div class="form-group">
                <label for="exampleInputUsername1">Eski Şifreniz</label>
                <input type="password" class="form-control" asp-for="LastPassword" placeholder="Şifre">
            </div>
            <div class="form-group">
                <label for="exampleInputUsername1">Yeni Şifreniz</label>
                <input type="password" class="form-control" asp-for="NewPassword" placeholder="Şifre">
            </div>
            <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
        </form>
    </div>
</div>
