<section class="w3l-statshny py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
        <div class="w3-stats-inner-info">
            <div class="row">
                <div class="col-lg-4 col-6 stats_info counter_grid text-left">
                    <span class="fa fa-smile-o"></span>
                    <p class="counter">@ViewBag.CustomerCount</p>
                    <h4>Müşteri</h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid1 text-left">
                    <span class="fa fa-users"></span>
                    <p class="counter">@ViewBag.GuideCount</p>
                    <h4>Rehber</h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5 text-left">
                    <span class="fa fa-database"></span>
                    <p class="counter">@ViewBag.DestinationCount</p>
                    <h4>Tur</h4>
                </div>
            </div>
        </div>
    </div>
</section>