@using Entities.Cocnrete
@model List<Reservation>
<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Katıldığım Turlar</h4>
            <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel" id="owl-carousel-basic">
                <div class="item">
                    <img src="~/member/template/assets/images/dashboard/Rectangle.jpg" alt="">
                </div>
                <div class="item">
                    <img src="~/member/template/assets/images/dashboard/Img_5.jpg" alt="">
                </div>
            </div>
            <div class="d-flex py-4">
                <div class="preview-list w-100">
                    @foreach (var item in Model)
                    {
                        <div class="preview-item p-0">
                        <div class="preview-thumbnail">
                                <img src="@item.Destination.Image" class="rounded-circle" alt="">
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                    <h6 class="preview-subject">@item.Destination.City</h6>
                                </div>
                                <p class="text-muted">@item.Destination.DestinationDate</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>